azure_tenant_id         = "<AZURE_TENANT_ID>"
azure_subscription_id   = "<AZURE_SUBSCRIPTION_ID>"
github_org              = "<GITHUB_ORG>"
github_owner_id         = "<GITHUB_OWNER_ID>"
repo_name               = "<REPO_NAME>"
github_repo_id          = "<GITHUB_REPO_ID>"
hcp_terraform_org       = "<HCP_TERRAFORM_ORG>"
hcp_terraform_ws_shared = "<HCP_TERRAFORM_WORKSPACE_SHARED>"
hcp_terraform_ws_uat    = "<HCP_TERRAFORM_WORKSPACE_UAT>"
gha_deploy_client_id    = "<AZURE_CLIENT_ID_UAT>"
acr_name                = "<AZURE_ACR_NAME>"
operator_ip_cidr        = "<OPERATOR_IP>/32"
key_vault_name          = "<AZURE_KEY_VAULT_NAME>"
postgres_server_name    = "<AZURE_POSTGRES_SERVER_NAME>"
apim_name               = "<AZURE_APIM_NAME>"
